<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img height="64" class="icon" src="~/icon-black.svg">
                RTU IT Lab
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                Данный сайт находится в разработке и будет использоваться для управления аккаунтом
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                Перейдите <a href="~/grants">сюда</a> для управления доступом к приложениям.
            </p>
        </div>
    </div>
</div>
