<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/1f6ac35a-340f-4f2e-892a-67edd5eaa691/resourcegroups/labworkcontrol/providers/Microsoft.Web/sites/BackEnd20180505114508</ResourceId>
    <ContainerResourceId>/subscriptions/1f6ac35a-340f-4f2e-892a-67edd5eaa691/resourceGroups/dockerapp/providers/Microsoft.ContainerRegistry/registries/registry20180505112707</ContainerResourceId>
    <ContainerResourceName>registry20180505112707</ContainerResourceName>
    <ResourceGroup>labworkcontrol</ResourceGroup>
    <Subscription>Visual Studio Enterprise: BizSpark</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20180505112707.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://backend20180505114508.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8ab6293d-e4fb-43d8-a26a-f881258ad31e</ProjectGuid>
  </PropertyGroup>
</Project>